<script>
    //util
    function sort (arr, property, desc){
      function sorter(aa,bb){
        var a = !desc ? aa : bb;
        var b = !desc ? bb : aa;
          
        if (typeof a[property] == "number") {
          return (a[property] - b[property]);
        } else {
          return ((a[property] < b[property]) ? -1 : ((a[property] > b[property]) ? 1 : 0));
        }
      }
      return arr.sort(sorter);
    };

    //util, print msgs --
    function print_msg (msg, style, time){
        $('#msg').html('<div class="msg msg-'+ style +'">' + msg + '</div>');
        $('#msg').fadeIn();
        setTimeout(function(){$('#msg').fadeOut()},time || 500);
    }

    function show_error(msg){ print_msg(msg, 'error'); }

    function show_ok(msg){ print_msg(msg, 'ok'); }
    //end print msgs --


    $(document).ready(function() {
        
      //socket.io -------------------------
      var server='http://' + real_time_server.host + ':' + real_time_server.port;      
      var socket = io.connect(server);

      socket.on('connect',function() {
        $('#socketio').html('<span class="label label-success">connected!</label>'); 
        socket.emit('join', { id: user_id });
      });

      socket.on('disconnect',function() {
        $('#socketio').html('<span class="label label-important">disconnected</label>'); 
      });

      socket.on('time',function(time) {
        race.time(time);
      });

      socket.on('new_operation',function(operation) {
        $('#operations').html(operation);
        $('input.input_player').val('').select(); //reset and select.
      });

      socket.on('history',function(history) {
        for (var i = 0, l = history.length; i < l ;  i++) { //sort eath item by score
          sort(history[i].scores, 'score', true)
        }
        race.history(sort(history, 'timestamp', true)); //bind score history (and sort by date)
      });
          
      socket.on('scores',function(scores) {
        race.scores(sort(scores,'score', true));
        if (scores.length){ //effect
          $('.scores').addClass('selected');
          setTimeout(function (){
              $('.scores').removeClass('selected')
          }, 200);
        }
      });

      socket.on('hall_of_fame',function(hall_of_fame) {
        race.hall_of_fame(sort(hall_of_fame,'score', true));
      });

      socket.on('new_game',function(result) {
          print_msg ('new game, new score, hurry up!!', 'new', 2000);
      });

      socket.on('result_operation',function(result) {
        if (result==1)
          print_msg ('good!!', 'success');
        else if (result==2)
          print_msg ('other player solved this quest faster than you!', 'warning', 1000);
        else
          print_msg ('nooooooooo!', 'error');
      });
      //end socket.io -------------------------

      //knockout model and binding
      function Race () {
        var self=this;
        self.name = ko.observable();

        self.input_player1 = ko.observable();
        self.scores = ko.observableArray();
        self.history = ko.observableArray();
        self.hall_of_fame = ko.observableArray();
        self.time = ko.observableArray();

        self.valid_name = ko.computed(function() {
          return (self.name() && self.name().length>2);
        }, self);

        self.sendOperationResult = function() {
          var data = {operation: self.input_player1(), name : self.name()};
          socket.emit('solve_operation', data);
        }
      }
      var race = new Race();
      ko.applyBindings(race);
      //end knockout model and binding

      //jQuery bindings
      $('input.input_player').click(function(e){
        this.select();  
      });

      $('#name').focus();

      $('input.input_player').keydown(function(e){
        if (e.keyCode=='13'){ //press return
          race.sendOperationResult();
          $('input.input_player').select();
        }
      });
    });        
</script>


<div class="alert alert-warning" data-bind="visible: (!valid_name())">  
  <h2>Be the fastest simple math problem solver: 12 + 14 = ??</h2>
  <h3>Play against other players in real time! (or try to beat the top scores!)</h3>
  <p>Please introduce your name to start playing!</p>
</div>

<p>Your name: <input maxlength="25" type="text" id="name" name="name" value="" data-bind="value: name, valueUpdate: 'afterkeydown'" /></p>

<div style="display:none" data-bind="visible: valid_name">
  <div class="row-fluid">
    <div class="span12 main">
        <span id="operations"></span>
        <span class="equal">=</span>
        <input class="input_player" maxlength="4" type="text" name="player1" value="" data-bind="value: input_player1, valueUpdate: 'afterkeydown'" />    
        <div id="msg"></div>
    </div>    
  </div>

  <div class="row-fluid results">  
    <div class="span4 current_game">
      <h3>Current game 
        <small>(ends in <span id="time" data-bind="text: time, css: { red: time() < 10 }"></span> secs)</small>
      </h3>

      <div class="scores alert alert-warning">
        <ol data-bind="foreach: scores">
          <li><span data-bind="text: player"></span>: 
                  <span class="score" data-bind="text: score"></span>
            </li>
        </ol>
        <p data-bind="visible: (scores().length==0)">Solve the math quest and be the first one to score!</p>
      </div>
      
    </div>    

    <div class="span4">
      <h3>Game history</h3>
      <div data-bind="visible: history().length">
        <div data-bind="foreach: history">
            <div class="game_history alert alert-warning">
              <h4><small>game played at: </small> <span data-bind="text: name"> </span></h4>
              <ol data-bind="foreach: scores">
                <li><span data-bind="text: player"></span>: <span class="score" data-bind="text: score"></span></li>
              </ol>
            </div>
        </div>
      </div>    
    </div>

    <div class="span4 hall_of_fame">
      <h3>Hall of Fame (top scores)</h3>
        <ol data-bind="foreach: hall_of_fame">                        
              <li>               
                <strong> 
                <span data-bind="text: player"></span> <span class="score" data-bind="text: score"></span>
              </strong>
              <span class="timestamp">
              (<span data-bind="text: timestamp"></span>)
              </span>
              </li>
        </ol>
    </div>

  </div>
</div>
